# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vscode/
*.rsuser

# NuGet Packages
*.nupkg
*.snupkg
packages/*

# Others
*.log
*.vsidx
*.vspscc
*.vssscc
